<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" /></head>
	<link rel="stylesheet" th:href="@{/css/style.css}">
	

<body>
	<!--  -->
	
	<div class="topnav" id="myTopnav">
		<a th:href="@{'/api/web-controller/test'}" class="active">Pull Requests</a> 
		<a th:href="@{'/new'}">Reviewers Statistics</a>
		<a th:href="@{'/edit'}"> Commits </a>
		<a th:href="@{'/branches'}"> Branches </a>  
		<a th:href="@{'/details'}">Advance...</a>
		  <a href="javascript:void(0);" class="icon" onclick=""> <i class="fa fa-bars"></i> </a>
	</div>
<!-- Search Bar -->
<form action="/api/web-controller/test" method="GET"> 
	<div align="center" style="padding-top: 1%;">
		<div id="instant-searchUsers" class="instant-search " >
			<div class="instant-search__input-container"  id="testtt">
				<input class="instant-search__input" id="myInput" type="text" spellcheck="false" placeholder="Search Users" onkeyup="filterFunction()">
				<i class="material-icons instant-search__icon">search</i>
			</div>
			<div class="instant-search__results-container " id="searchDiv">
				<a class="instant-search__result" th:each="pr : ${pullrequests}"  th:href="@{'/api/web-controller/test/@username='+${pr.authorName}}" target="_self"
				onclick="pullName()">
					<div class="instant-search__title" th:text="${pr.authorName}" id="aTagAuthorName" >Author Name</div>
					
				</a>
			</div>
		</div>
	</div>


	<br />
	<div style="padding-left: 16px">
		<br />
		<div class="w3-container">
			<table class="w3-table-all">
				<thead>
					<tr>
						<th>Author Name</th>
						<th>Pull requests</th>
						<th>Merged PRs</th>
						<th>Declined PRs</th>
						<th>Open PRs</th>
					</tr>
					<tr th:each="pr : ${pullrequests}">
						<td th:text="${pr.authorName}">Author Name</td>
						<td th:text="${pr.total}">Pull requests</td>
						<td th:text="${pr.mergedPRs}">Merged PRs</td>
						<td th:text="${pr.declinedPRs}">Declined PRs</td>
						<td th:text="${pr.openPRs}">Open PRs</td>
					</tr>
			</table>
		</div>
	</div>
	<br />
	<br />
	<!--
</form>
	The Modal
	<div id="myModal" class="modal" style = "display: block;">

		 Modal content 
		<div class="modal-content">
			<span class="close"  style="width:20px;">&times;</span>
		  <div class="header">
			<h2 id="hTagAuthorName"></h2>
		  </div>
		  <hr>
		  <div class="row" id="rowChange">
			<div class="leftcolumn">
			  <div class="card">
				<h2>ALL PR's</h2>
				<div class="column" align="right" id="rowChange">
				  <p> Start: <input type="date" id="startDate"> End: <input type="date" id="endDate">  <button>Filter</button></p>
	
				</div>
				<div class="scroll">
				  <table id="prDetailTable">
					<tr>
					  <th>Title</th>
					  <th>PR ID</th>
					  <th>Date</th>
					  <th>Status</th>
					</tr>
					<tr th:each="prId : ${UserPrDetails}">
					  <td th:text="${prId.title}">Title</td>
					  <td th:text="${prId.prId}">PRID</td >
					  <td th:text="${prId.date}">27.05.2021</td>
					  <td th:text="${prId.status}">PRSTATUS</td>
					</tr>
					
					
				  </table>
				</div>
			  </div>
			</div>
-->

			<!-- <div class="rightcolumn">
			  <div class="column" id="rowChange" >
				<div class="sectionCard">
				  <p><i class="fa fa-code"></i></p>
				 <h3 th:text="${UserPrDetails[1].totalPRs}" >38</h3>
				  <p>PR</p>
				</div>
				<br>
				<div class="sectionCard">
				  <p><i class="fa fa-check"></i></p>
				  <h3 th:text="${UserPrDetails[1].totalMerges}">25</h3>
				  <p>Merge</p>
				</div>
				<br>
				<div class="sectionCard">
				  <p><i class="fa fa-smile-o"></i></p>
				  <h3 th:text="${UserPrDetails[1].totalOpen}">9</h3>
				  <p>Open</p>
				</div>
				<br>
				<div class="sectionCard">
				  <p><i class="fa fa-coffee"></i></p>
				  <h3 th:text="${UserPrDetails[1].totalDecline}">4</h3>
				  <p>Decline</p>
				</div>
			  </div> -->
	
			</div>
		  </div>
		</div>
	  </div>

	  <script th:src="@{/js/searchbar.js}"></script>
	  <script th:src="@{/js/modalBox.js}"></script>
</body>

</html>