<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" /></head>
	<link rel="stylesheet" th:href="@{/css/style.css}">
	

<body>
	<!--  -->
	
	<div class="topnav" id="myTopnav">
		<a th:href="@{'/api/web-controller/test'}" class="active">Pull Requests</a> 
		<a th:href="@{'/new'}">Reviewers Statistics</a>
		<a th:href="@{'/edit'}"> Commits </a>
		<a th:href="@{'/branches'}"> Branches </a>  
		<a th:href="@{'/details'}">Advance...</a>
		  <a href="javascript:void(0);" class="icon" onclick=""> <i class="fa fa-bars"></i> </a>
	</div>
<!-- Search Bar -->
<form action="/api/web-controller/test" method="GET"> 
	<div align="center" style="padding-top: 1%;">
		<div id="instant-searchUsers" class="instant-search " >
			<div class="instant-search__input-container"  id="testtt">
				<input class="instant-search__input" id="myInput" type="text" spellcheck="false" placeholder="Search Users" onkeyup="filterFunction()">
				<i class="material-icons instant-search__icon">search</i>
			</div>
			<div class="instant-search__results-container " id="searchDiv">
				<a class="instant-search__result" th:each="pr : ${pullrequests}"  th:href="@{'/api/web-controller/test/'+${pr.authorName}}" target="_self"
				onclick="pullName()">
					<div class="instant-search__title" th:text="${pr.authorName}" id="aTagAuthorName" >Author Name</div>
					
				</a>
			</div>
		</div>
	</div>


	<br />
	<div style="padding-left: 16px">
		<br />
		<div class="w3-container">
			<table class="w3-table-all">
				<thead>
					<tr>
						<th>Reviewers Name</th>
						<th>Approved Total</th>
						<th>Unapproved Total</th>
					</tr>
					<tr >
						<td >Author Name</td>
						<td>Pull requests</td>
						<td >Merged PRs</td>
					</tr>
			</table>
		</div>
	</div>
	<br />
	<br />
	

	
			</div>
		  </div>
		</div>
	  </div>

	  <script th:src="@{/js/searchbar.js}"></script>
	  <script th:src="@{/js/modalBox.js}"></script>
</body>

</html>